# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
# Logs
logs
*.log

#SASS
.sass-cache

#MAC FILES
.DS_Store

#WINDOWS FILES
thumb.db