/*
	CONTACT
*/
#contact{
	background-color: #f1f2f2;
}
.contact-header{
	text-align: center;
	padding-top: 54px;
	.icon-mail {
		font-size: 31px;
		color: $color-sec;
		margin-bottom: 15px;
		display: inline-block;
	}
}
.contact-wrapper{
	.form-group {
		margin-bottom: 15px;
	}
	.form-label {
		display: block;
		margin-bottom: 15px;
		margin-left: 10px;
	}
	.form-input{
		font: 16px/50px $font-lato;
		padding: 0 10px;
		max-width: 100%;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
	}
	textarea{
		font: 16px/120% $font-lato;
		padding: 10px;
		max-width: 100%;
		width: 100%;
		height: 180px;
		resize: none;
		border: 0;
		outline: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 18px;
	}
	
}
small{
	margin: 40px 0 20px;
	text-align: center;
	display: block;
}

@media screen and (min-width: 992px){
	.contact-wrapper{
		padding: 0 47px;
		.form-input,
		textarea{
			max-width: 400px;
		}
		.btn-cta{
			width: 90px;
		}
	}
}