.popup{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	@include transition(all .5s);
	@include transform-origin( center );
	@include transform(scale(0));
	.popup-overlay{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1001;
		@include transition( all 0.3s);
	}
	&.active{
		opacity: 1;
		visibility: visible;
		@include transform(scale(1));
	}
	
}
#popup-table{
	background-color: #414042;	
	.popup-header{
		p {
			text-align: center;
			color: #fff;
			text-transform: uppercase;
			font-size: 17px;
			font-weight: bold;
			margin: 0 0 8px;
		}
		button{
			color: $color-sec;
			display: inline-block;
			position: relative;
			top: -13px;
			font-size: 23px;
			font-weight: bold;
			line-height: 40px;
		}
	}
	.popup-content{
		padding-bottom: 20px;
		overflow: scroll;
		height: calc(90vh - 80px);
		z-index: 9999;
		.row-inner{
			min-width: 660px;
		}
		.table-responsive{
			width: 100%;
			overflow-y: hidden;
    		overflow-x: auto;
		}
		.table-fixed {
			display: none;
			position: fixed;
			width: 100%;
			max-width: 1096px;
			.col12{
				height: 40px;
    			background-color: #414042;
			}
			.table-header {
				float: right;
				display: table;
				width: 41%;
				> div{
					color: #fff;
					display: table-cell;
				}
			}
			.arrow {
				float: left;
				color: #fff;
				margin-top: 10px;
				-webkit-animation: 2s soft-blink infinite alternate;
				animation: 2s soft-blink infinite alternate;
				.blink-arrow{
					width: 10px;
					height: 4px;
					border-radius: 3px;
					background-color: white;
					position: relative;
					display: inline-block;
					top: -3px;
					margin-left: 5px;
					&::after{
						content: '';
						position: absolute;
						bottom: -5px;
						right: 0;
						border-bottom: 4px solid transparent;
						border-right: 4px solid #fff;
						border-top: 4px solid #fff;
						border-left: 4px solid transparent;
						border-radius: 4px;
						width: 4px;
						height: 5px;
						@include transform(rotate(45deg));
					}
				}
			}
		}
		.table{
			width: 100%;
			color: #fff;
			font-size: 14px;
			line-height: 36px;
			font-weight: bold;
			thead{
				//color: transparent;
			}
			tbody{
				tr td + td{
					text-align: center;
				}
			}
		}
		.table-title {
			line-height: 1;
			font-size: 16px;
			font-weight: 900;
			color: $color-sec;
			padding: 15px;
			border-top: 1px solid #FFF;
			border-bottom: 1px solid #FFF;
			margin: 15px 0;
		}
	}
}

#popup-modules{
	background-color: rgba(0,0,0,.75);
	.popup-content{
		top: 50%;
		position: absolute;
		max-width: 887px;
		left: 50%;
		@include transform(translate(-50%,-50%));
		width: 100%;
		figure {
			position: relative;
			overflow: hidden;
			img{
				width: 100%;
				height: auto;
			}
		}
		.module-categories {
			position: absolute;
			right: 0;
			top: 15px;
			color: #fff;
			background-image: url("../images/flag.png");
			background-repeat: no-repeat;
			background-size: 100px 45px;
			width: 100px;
    		height: 45px;
			z-index: 2;
			> span{
				font-size: 14px;
				line-height: 120%;
				width: 102px;
    			height: 44px;
				text-align: center;
				display: table-cell;
				vertical-align: middle;
			}
			& + .module-categories{
				top: 68px;
			}
		}
		figcaption{
			padding-top: 20px;
			text-align: center;
			color: #fff;
			h3{
				font: 900 22px/24px $font-lato;
				margin-bottom: 8px;
			}
			p{
				font: 900 14px/16px $font-lato;
				margin: 0 0 8px;
			}
		}
	}
}
@-webkit-keyframes soft-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes soft-blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@media screen and (min-width:768px){
	#popup-table{
		.popup-content{
			.table-fixed {
				display: block;
				.arrow {
					display: none;
				}
			}
			.table thead{
				color: transparent;
			}
		}
	}
	#popup-modules{
		.popup-content{
			.module-categories{
				background-size: 130px 58px;
				width: 130px;
				height: 58px;
				> span{
					width: 130px;
					height: 54px;
				}
				& + .module-categories{
					top: 85px;
				}
			}
			figcaption{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 0;
				background-color: rgba(0,0,0,.5);
				> div{
					width: 100%;
					position: absolute;
					top: 50%;
					@include transform(translate(0,-50%));
				}
				h3{
					font-size: 32px;
					line-height: 120%;
					margin-bottom: 20px;
					padding: 0 20px;
				}
				p{
					font-size: 18px;
					line-height: 120%;
					margin-bottom: 10px;
					padding: 0 20px;
				}
			}
		}
	}
}

@media screen and (min-width: 992px){
	#popup-modules{
		.popup-content{
			figcaption h3{
				font-size: 42px;
				padding: 0 130px;
			}
			figcaption p{
				padding: 0 130px;
			}
		}
	}
	
}