@import "mixins";
@import "variables";

header{
	margin-bottom: 30px;
	z-index: 3!important;
}
.site-logo {
    margin: 10px 0 0;
    display: inline-block;
	img{
		width: 120px;
		height: auto;
	}
}
.menu{
	position: absolute;
	top: 35px;
	right: 20px;
	width: 35px;
	height: 3px;
	z-index: 5;
	background-color: #000;
	//-webkit-transition: all .5s;
	//-moz-transition: all .5s;
	//-ms-transition: all .5s;
	//transition: all .5s;
	&::before{
		position: absolute;
		bottom: 8px;
		left: 0;
		width: 35px;
		height: 3px;
		content: "";
		background-color: #000;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: bottom .25s .0s, transform .25s .25s ease;
		-moz-transition: bottom .25s .0s, transform .25s .25s ease;
		-ms-transition: bottom .25s .0s, transform .25s .25s ease;
		transition: bottom .25s .0s, transform .25s .25s ease;
	}
	&::after{
		position: absolute;
		width: 35px;
		height: 3px;
		content: "";
		top: 8px;
		right: 0;
		background-color: #000;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: top .25s .0s, transform .25s .25s ease;
		-moz-transition: top .25s .0s, transform .25s .25s ease;
		-ms-transition: top .25s .0s, transform .25s .25s ease;
		transition: top .25s .0s, transform .25s .25s ease;
	}
	&.active{
		background-color: transparent;
		&::before{
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			/*-webkit-transition: transform .25s .0s, bottom .25s .25s;
			-moz-transition: transform .25s .0s, bottom .25s .25s;
			-ms-transition: transform .25s .0s, bottom .25s .25s;
			transition: transform .25s .0s, bottom .25s .25s;*/
			bottom: 0;
		}
		&::after{
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			/*-webkit-transition: transform .25s .0s, top .25s .25s;
			-moz-transition: transform .25s .0s, top .25s .25s;
			-ms-transition: transform .25s .0s, top .25s .25s;
			transition: transform .25s .0s, top .25s .25s;*/
			top: 0;
		}
	}
} 


.site-nav{
	background-color: $color-sec;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translate(100%,0);
	-moz-transform: translate(100%,0);
	-ms-transform: translate(100%,0);
	transform: translate(100%,0);
    width: 100%;
    height: 100%;
    padding-top: 65px;
    z-index: 2;
	transform-origin: right;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	&.active{
		-webkit-transform: translate(0,0);
		-moz-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
	}
	> li{
		padding: 0;
    	text-align: center;
		> a{
			font-weight: 900;
			line-height: 40px;
			display: block;
			&:hover{
				color: #000;
				background-color: #ca5631;
			}
			.icon-mail{
				font-size: 1.5em;
				position: relative;
				top: 3px;
			}
		}
	}
}

@media screen and (min-width: 768px){
	
}

@media screen and (min-width: 992px){
	.site-logo {
		margin: 35px 0 0;
		img{
			width: 190px;
		}
	}
	.menu{
		display: none;
	}
	.site-nav{
		margin: 60px 0 0;
		display: block;
		background-color: transparent;
		position: relative;
		-webkit-transform: translate(0,0);
		-moz-transform: translate(0,0);
		-ms-transform: translate(0,0);
		transform: translate(0,0);
		height: auto;
		padding: 0;
		width: 730px;
		float: right;
		text-align: right;
		> li{
			display: inline-block;
			margin-left: 12%;
			padding: 0;
			text-align: initial;
			a:hover{
				background-color: transparent;
				color: $color-sec;
			}
		}
	}
}